
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit the Book!</h1>
  <form action="/books/<%= book._id %>?_method=PUT" method="POST">
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= book.name %>" 
        autocomplete="off"
      >
    </label><br>
    <label>
      Author: 
      <input type="text" name="author" autocomplete="off">
    </label><br>
    <label>Category:
      <select name="category">
        <option value="Sci-Fi">Sci-Fi</option>
        <option value="Action">Action</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Suspense/Thriller">Suspense/Thriller</option>
        <option value="Western">Western</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Philosophy/Psych">Philosophy/Psych</option>
        <option value="Social Sciences">Social Sciences</option>
        <option value="Technology">Technology</option>
        <option value="History/Geography">History/Geography</option>
      </select>
    </label><br>
    <label>
      Read?
      <input 
        type="checkbox" 
        name="read" 
				<%= book.read ? "checked" : "" %> 
      >
    </label>
    <button type="submit">Edit the Book</button>
  </form>
</section>

<%- include('../partials/footer') %>