<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Books ЁЯМоЁЯМоЁЯМо</h1>
  <h2>All the Books!</h2>
	<ul>
  <% books.forEach(book => { %>
    <li>ЁЯМо <%= book.name %> is <%= book.read ? 'read' : 'not read' %></li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>