<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Books ЁЯМоЁЯМоЁЯМо</h1>
<%# New Code Below %>
<% if (user) { %>
  <h2>Add a Book!</h2>
  <form action="/books" method="POST">
    <label>
      Name: 
      <input type="text" name="name" autocomplete="off">
    </label>
    <label>
      Read?
      <input type="checkbox" name="read">
    </label>
    <button type="submit">Add ЁЯМо</button>
  </form>
<% } %>
<h2>All the Books!</h2>
<ul>
  <% books.forEach(book => { %>
    <li>
      ЁЯМо 
      <a href="/books/<%= book._id %>"><%= book.name %></a> 
      is <%= book.read ? "read" : "not read"%></li>
  <% }) %>
</ul>
</section>

<%- include('../partials/footer') %>