<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
        class="profile-avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</  h1>
  <% if (isSelf) { %>
    <h2>Add a Review!</h2>
    <form 
      action="/profiles/<%= profile._id %>/cats"
      autocomplete="off"
      method="post">
      <label>
        Book:
        <input type="text" name="name" >
      </label>
      <label>
        Stars:
        <input type="number" name="stars">
      </label>
      <label>
        Review:
        <input type="text" name="breview">
      </label>
      <button type="submt">Add Review</button>
    </form>
  <% } %>


  <% if (profile.cats.length) { %>
    <h2>Your Reviews</h2>
    <% profile.cats.forEach(cat => { %>
      <h3>
        <%= cat.name %> is rated <%= cat.stars %> stars. <%= cat.breview %>
        <% if (isSelf) { %>
          <form 
            action="/profiles/<%= profile._id %>/cats/<%= cat.id %>?_method=DELETE"
            method="post"
            style="display: inline-block;"
          >
            <button type="submit">Delete Review</button>
          </form>
        <% } %>   
      </h3>
    <% }) %>
  <% } else { %>
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any Reviews!
    </h2>
  <% } %> 
</main>


<%- include('../partials/footer') %>